@model ThreadMapLLM.Models.ChatViewModel

<div class="p-3 ms-3 text-white border rounded-3 mt-5 mb-5 message-container">
    <strong>AI:</strong>
    <pre style="white-space: pre-wrap;">@Model.Response</pre>
    <button type="button" onclick="openThread(this)" class="btn btn-primary">+</button>
    
    <div class="thread"></div>

</div>